@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');


body {
  font-family: "Cairo", sans-serif; /* Choisissez la police de caractères souhaitée */
  background-image: url('votre_image.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}


.card:hover {
  /* Styles pour hover sur les cartes */
}